# Python
__pycache__/
*.pyc

# Virtual environment
venv/
env/

# Django/Migrations
*/migrations/
db.sqlite3

# Environment variables and secrets
.env

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db